<footer class="site-footer">

  <div class="wrapper">

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    <div class="social-media-icons">
      {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <i class="icon-github-sign"></i>
      </a>
      {% endif %}


      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="icon-twitter-sign"></i>
      </a>
      {% endif %}

      {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
        <i class="icon-linkedin-sign"></i>
      </a>
      {% endif %}

      {% if site.instagram_username %}
      <a href="https://instagram.com/{{ site.instagram_username }}">
        <i class="icon-instagram-sign"></i>
      </a>
      {% endif %}
    </div>

  </div>

</footer>
