/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figure.highlight > pre {
  border-radius: 3px;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}



/**
 * Links
 */
a {
  color: $brand-color;
  transition: $link-transition;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 5%);
  }

  &:hover {
    color: $text-color;
    background-image: url(/images/line.png);
    background-repeat: repeat-x;
    background-position: left bottom;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  color: #f8f8f2;
  background-color: #272822;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(600px - (#{$spacing-unit} * 2));
  max-width:         calc(600px - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(600px - (#{$spacing-unit}));
    max-width:         calc(600px - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }


}

.site-header {
  .wrapper {
    text-align: center;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    a:hover {
      background: none;
    }
  }
}

.page-content {
  .wrapper {
    border: 1px solid $grey-color-light;
    border-radius: $base-font-size / 2;
    background: #fff;
    .home, .post {
      padding-top: $spacing-unit / 2;
      padding-bottom: 75 + $spacing-unit / 2;
    }
    .site-nav {
      text-align: center;
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
      border-bottom: 1px solid $grey-color-light;
    }
  }
}

.site-footer {
  .wrapper {
    text-align: center;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    .social-media-icons {
      a {
        color: black;
        &:visited {
          color: black;
        }
        margin: 0 2px;
      }
      i {
        color: black;
        font-size: 1.8em;
        transition: $link-transition;
      }
      a:hover {
        background: none;
        color: red;
        i {
          color: $brand-color;
        }
      }
    }
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

.page-link {
  margin: 0 $spacing-unit / 4;
  font-size: 1.2em;
}

.profile-image {
  border-radius: $base-font-size / 2;
  width: 100%;
}

.scribble {
  background-image: url('/images/scribble-wide.png');
  background-position: 40%;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.logo {
  width: 92px;
  height: 62px;
  display: inline-block;
  background-image: url('/images/logo1.png');
  background-size: cover;
  -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
  animation-direction: alternate;
  img {
    display:none;
  }
  &:hover {
    animation: logo-animation 600ms steps(1) forwards;
  }
}

.logo-animation-back {
  animation: logo-animation-back 600ms steps(1) forwards;
}

@keyframes logo-animation {
  0%   { background-image: url('/images/logo1.png'); }
  25%   { background-image: url('/images/logo2.png'); }
  50%   { background-image: url('/images/logo3.png'); }
  75%   { background-image: url('/images/logo4.png'); }
  100%   { background-image: url('/images/logo5.png'); }
}

@keyframes logo-animation-back {
  0%   { background-image: url('/images/logo5.png'); }
  25%   { background-image: url('/images/logo4.png'); }
  50%   { background-image: url('/images/logo3.png'); }
  75%   { background-image: url('/images/logo2.png'); }
  100%   { background-image: url('/images/logo1.png'); }
}

iframe {
  margin-bottom: $spacing-unit / 2 !important;
}

#messageSent {
  display: none;
  text-align: center;
}

#contactForm {
  margin-bottom: 1em;
  .form-control {
    padding: $base-font-size/2 0;
  }
  input, textarea {
    width: 100%;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    font-size: 1em;
    color: $text-color;
    padding: $base-font-size / 2;
    box-sizing: border-box;
    border-radius: 3px;
  }
  input[type=submit] {
    background-color: black;
    color: #f8f8f2;
    cursor: pointer;
    font-weight: lighter;
    transition: background-color 0.2s ease-out;
    &:hover {
      background-color: $brand-color;
    }
  }
  textarea {
    height: 120px;
    vertical-align: top
  }
}

ul#tags {
  font-style: italic;
  margin: 0;
  margin-bottom: $spacing-unit / 2 !important;
  li {
    display: inline;
  }
}

.post-list {
  margin: 0;
  list-style: none;
  li {
    margin-top: $spacing-unit / 2;
  }
}

